/*  Подключаемый локально шрифт Gilroy  */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroy/gilroyextrabold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroy/gilroylight.woff") format("woff");
  font-weight: 300;
}

/*  Общие стили для body  */
body {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Aerial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900; 
  color: #000000;
  background-color: #ffffff;
}

/*  Общие стили для ссылок  */
a {
  text-decoration: none;
}

/*  Общие стили для картинок  */
img {
  max-width: 100%;
  height: auto;
}

/*  Основной контейнер-центровщик  */
.main-container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/*  Контейнер для основной части каталога  */
.main-container.catalog-container {
  width: 1100px;
  padding-left: 80px;
}

/*  Класс для удаления элементов из потока  */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*  Общие стили кнопок  */
.button {
  display: block;
  width: 220px;
  min-height: 40px;
  padding: 8px 0;

  box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgba(0, 0, 0, 1);
  text-align: center;

  background-image: linear-gradient(transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.button:hover {
  background-image: none;
  background-color: #f0c52e;
}
.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-image: none;
}



/*=========================================================================
  <header>
=========================================================================*/

.main-header {
  position: relative;

  min-height: 300px;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;

  background-color: #f7e296;
}

.inner-page .main-header {
  min-height: 185px;
}

/*  Логотип в шапке  */
.main-logo {
  margin: 0;
  margin-bottom: -15px;

  position: relative;
  top: -24px;
}

.main-logo a {
  cursor: pointer;
}

.main-logo,
.main-logo a {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.main-logo a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-logo a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-instrument-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

/*  Форма поиска  */
.main-search-form {
  display: flex;
  align-items: flex-start;

  position: relative;

  width: 440px;
  margin-bottom: 32px;
  margin-top: 6px;
}

.main-search-input {
  width: 355px;
  height: 41px;
  padding-left: 40px;
  padding-bottom: 5px;

  outline: none;
}

.main-search-form::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 12px;

  width: 17px;
  height: 17px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.main-search-input,
.main-search-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  background-color: inherit;

  border: none;
}

.main-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.main-search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
  background-color: inherit;
}

.main-search-input:active,
.main-search-input:focus,
.main-search-input:active::placeholder,
.main-search-input:focus::placeholder {
  color: rgba(0, 0, 0, 1);
}

.main-search-input:focus {
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.main-search-input:focus ~ .main-search-btn {
  display: block;
}

.main-search-input::-ms-clear,                      /* Скрываем крестик для очистки формы поиска */
.main-search-input::-ms-reveal {
  display: none; 
  width: 0; 
  height: 0; 
}

.main-search-input::-webkit-search-decoration,
.main-search-input::-webkit-search-cancel-button,
.main-search-input::-webkit-search-results-button,
.main-search-input::-webkit-search-results-decoration {
  display: none; 
}
                                                    
.main-search-input:-webkit-autofill {              /*  Меняем стандартный фон для автозаполнения в Chrome */
  -webkit-box-shadow: 0 0 0 30px #f7e296 inset;                        /*  на цвет фона header  */
}

.main-search-btn {
  display: none;

  width: 85px;
  box-sizing: border-box;
  padding: 8px 15px;
  margin-top: -9px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);

  background-color: inherit;
  border: 2px solid #000;
}

.main-search-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000;
}
.main-search-btn:active {
  display: block;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}

/*  Навигация в шапке  */
.main-user-purchase-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 500px;
}

.main-user-nav {
  width: 280px;
}

.main-user-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.main-user-nav-login a {
  display: block;
  position: relative;

  width: 154px;
  padding-left: 26px;
}

.main-user-nav-login a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 13px;
  height: 13px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.main-user-nav-logout {
  width: 100px;
}

.main-purchase-instruments ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 220px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-compare-item a {
  display: block;
  position: relative;

  padding-left: 27px;
}

.main-compare-item a::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 7px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.main-shopping-cart a {
  display: block;
  position: relative;

  padding-left: 25px;
}

.main-shopping-cart a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 2px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}


.main-user-nav a,
.main-purchase-instruments a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.main-user-nav a:hover,
.main-purchase-instruments a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-user-nav a:active,
.main-purchase-instruments a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-user-nav-logout a {
  color: rgba(0, 0, 0, 0.3);
}

.main-site-nav {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.main-nav-item:first-child {
  position: relative;
  min-width: 270px;
  margin-right: auto;
}
.main-nav-item:nth-child(2) {
  width: 160px;
}
.main-nav-item:nth-child(3) {
  width: 220px;
}
.main-nav-item:last-child {
  width: 120px;
}

.main-nav-item:first-child > a {
  position: relative;

  padding-right: 35px;
}

.main-nav-item:first-child > a::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-nav-item > a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: rgba(0, 0, 0, 1);
}

.main-nav-item > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav-item > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-item:hover .main-nav-catalog-dropdown {
  display: flex;
}

.main-nav-catalog-dropdown {
  position: absolute;
  top: 22px;
  left: -60px;
  z-index: 3;

  display: none;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 640px;
  padding: 0;
  padding-top: 23px;
  padding-right: 460px;
  padding-bottom: 35px;
  padding-left: 60px;
  margin: 0;


  background-color: #f7e296;

  list-style: none;
}

.main-nav-catalog-dropdown a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.main-nav-catalog-dropdown a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav-catalog-dropdown a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-catalog-item {
  width: 200px;
}

.main-nav-catalog-item:first-child,
.main-nav-catalog-item:nth-child(2),
.main-nav-catalog-item:nth-child(3) {
  width: 240px;
}

.main-nav-catalog-item:nth-child(4) {
  order: 1;
}
.main-nav-catalog-item:nth-child(6) {
  order: 2;
}
.main-nav-catalog-item:nth-child(2) {
  order: 3;
}
.main-nav-catalog-item:nth-child(5) {
  order: 4;
}
.main-nav-catalog-item:nth-child(3) {
  order: 5;
}


/*=========================================================================
  <main> index.html
=========================================================================*/

/*  Промо-слайдер  */
.promo-slider-content {
  position: relative;
  margin-bottom: -6px;
  top: -33px;
  z-index: 2;
}

.promo-slider-content-list {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-slider-content-list > li:nth-of-type(2),
.promo-slider-content-list > li:nth-of-type(3) {
  display: none;
}


.promo-slider-item-content{
  display: flex;

  position: relative;
}

.promo-slider-image-container {
  width: 560px;
  min-height: 486px;
  margin-right: 40px;
}

.promo-slider-item-image {
  position: relative;
  top: -79px;
  left: 2px;
  display: block;
  margin: 0 auto;
}

.promo-slider-item {
  width: 500px;
}

.promo-slider-item-number {
  display: block;
  position: absolute;
  right: -11px;
  top: -94px;

  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
}

.promo-slider-item-tagline {
  position: relative;
  display: block;

  margin-bottom: 19px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.009em;
  color: #000000;
  white-space: pre-line;
}

.promo-slider-item-tagline::before {
  content: "";
  position: absolute;
  top: -42px;

  width: 100px;
  height: 7px;

  background-color: #fff;
}

.promo-slider-item-desc {
  width: 480px;
  margin-bottom: 43px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.009em;
  color: #464646;
  white-space: pre-line;
}

.slider-detail-control-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 480px;

  margin-bottom: 15px;
}

.promo-slider-control-list {
  display: flex;
  justify-content: space-between;
  
  width: 80px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-slider-control {
  display: block;
  width: 12px;
  height: 12px;
  
  background-color: #fff;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border: none;
  outline: none;

  cursor: pointer;
}

.promo-slider-control:focus {
  outline: 2px solid #f0c52e;

}

.active .promo-slider-control {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo-slider-item-properties {
  display: flex;

  width: 460px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.promo-slider-item-properties li {
  width: 160px;
  padding: 0;
  margin: 0;
}

.promo-slider-item-properties li:nth-child(2) {
  width: 140px;
}

.item-property-value {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;
  margin-bottom: 7px;
}

.item-property-desc {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #464646;
  margin: 0;
}

/*  Разделы каталога  */
.item-link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 61px;

  list-style: none;
}

.item-link-list p {
  margin: 0;
  margin-top: 33px;

  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.009em;
  color: rgba(0, 0, 0, 1);
  white-space: pre-line;
}

.item-link-list li{
  width: 160px;
}

.item-link-list div {
  height: 160px;
  background-repeat: no-repeat;
}

.item-link > div {
  background-color: #f7e296;
}

.item-link:hover > div {
  background-color: #f0c52e;
}
.item-link:active p {
  color: rgba(0, 0, 0, 0.3);
}
.item-link:active .item-img {
  opacity: 0.3;
}
.item-link:active > div {
  background-color: #f0c52e;
}

.item-img {
  background-repeat: no-repeat;
}

.item-img-vr {
  background-image: url("../img/popular-1.svg");
  background-position: 31px 52px;
}

.item-img-monopod {
  background-image: url("../img/popular-2.svg");
  background-position: 38px 41px;
}

.item-img-action-cam {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}

.item-img-fitness-tracker {
  background-image: url("../img/popular-4.svg");
  background-position: 28px 50px;
}

.item-img-smartwatch {
  background-image: url("../img/popular-5.svg");
  background-position: 55px 32px;
}

.item-img-quadrocopter {
  background-image: url("../img/popular-6.svg");
  background-position: 13px 49px;
}

/*  Услуги  */
.services {
  background-image: linear-gradient(transparent 29.5%, #e5e5e5 29.5%);
  margin-bottom: 96px;
  min-height: 406px;
}

.service-layout {
  padding-top: 20px;

  display: flex;
  align-items: stretch;

  min-height: 320px;
}

.service-list-nav {
  width: 280px;
  box-sizing: border-box;

  border-right: 3px solid #000;
}

.service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 280px;
  padding: 45px 0;
  margin: 0;
  margin-top: 35px;
  
  list-style: none;
}

.service-tab {
  width: 160px;
  padding-left: 3px;
  margin-bottom: 24px;

  background-image: linear-gradient(#e5e5e5 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e5 60%);
  border: none;

  cursor: pointer;
}

.service-tab:active {
  color: #f7e184;

  background-color: #000000;
  box-shadow: 120px 0 0 0 #000;
}

.service-tab.active{
  color: #f7e184;

  background-color: #000000;
  background-image: none;
  box-shadow: 120px 0 0 0 #000;
  cursor: default;
}

.service-content {
  width: 880px;
  min-height: 320px;
  box-sizing: border-box;

  border-left: 4px solid #000;
  vertical-align: center;
}

.service-content-list {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.service-content-list li {
  flex-shrink: 0;

  position: relative;

  width: 460px;
  padding-top: 73px;
  padding-right: 300px;
  padding-left: 118px;
  margin: 0;
}

.service-content-list li:not(.active) {
  display: none;
}

.service-content-list li::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.service-delivery::after {
  right: 64px;
  top: 85px;

  width: 140px;
  height: 180px;

  background-image: url("../img/delivery.svg");
}

.service-warranty::after {
  right: 39px;
  top: 60px;

  width: 180px;
  height: 200px;

  background-image: url("../img/warranty.svg");
}

.service-credit::after {
  right: 68px;
  top: 60px;

  width: 160px;
  height: 190px;

  background-image: url("../img/credit.svg");
}

.service-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.009em;
  color: #000000;
}

.service-desc {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.009em;
  color: #464646;

  white-space: pre-line;
}

/*  Марки производителей  */
.trademark-logos-list {
  display: flex;
  justify-content: space-between;

  padding: 0;
  list-style: none;
}

.trademark-logo {
  position: relative;
  display: block;
  
  width: 260px;
}

.logo-link {
  display: block;
}

.logo-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 260px;
  height: 100px;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

.logo-link.logo-dji::after {
  background-image: url("../img/logo-1-hover.jpg");
}

.logo-link.logo-sp-gadgets::after {
  background-image: url("../img/logo-2-hover.jpg");
}

.logo-link.logo-gopro::after {
  background-image: url("../img/logo-3-hover.jpg");
}

.logo-link.logo-vive::after {
  background-image: url("../img/logo-4-hover.jpg");
}

.trademark-logo-img {
  opacity: 0.2;
}

.trademark-logo:hover .logo-link::after {
  opacity: 1;
}


/*  Контейнер контактов и описания  */
.about-contacts-layout {
  display: flex;
  justify-content: space-between;
  
  width: 1160px;
  margin-top: 86px;
  margin-bottom: 82px;
}

/*  О нас  */
.about-us {
  position: relative;

  width: 475px;
}

.about-us-title {
  padding: 0;
  padding-top: 52px;
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: #000;
}

.about-us-desc {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.about-us-desc p {
  margin-bottom: 30px;
}

.about-us-desc p + p {
  margin-bottom: 66px;
}


.shipping-companys-list {
  margin-bottom: 54px;
  padding-left: 35px;

  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
  color: #000000;

  list-style: none;
}

.about-us-detail-tab {
  width: 260px;
  padding-left: 2px;
}

/*  Контакты  */
.contacts {
  position: relative;

  width: 560px;
}

.contacts-title {
  padding: 0;
  padding-top: 52px;
  margin: 0;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.contacts-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;
  background-color: #000;
}

.contacts-desc {
  margin-bottom: 39px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

.map-thumbnail {
  margin-bottom: 62px;
}

.write-us-tab {
  width: 260px;
  padding-left: 2px;
}



/*=========================================================================
  <footer>
=========================================================================*/

.main-footer {
  background-color: #464646;
}

.footer-top-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  Логотип в футере  */
.footer-logo,
.footer-logo a {
  margin-top: 60px;
  margin-bottom: 25px;

  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: rgba(255, 198, 0, 1);
}

.footer-logo a {
  cursor: pointer;
}

.footer-logo a:hover {
  color: rgba(255, 198, 0, 0.6);
}
.footer-logo a:active {
  color: rgba(255, 198, 0, 0.3);
}

/*  Навигация в футере  */
.footer-user-purchase-layout {
  display: flex;
  flex-wrap: wrap;

  margin-top: 23px;
}

.footer-user-nav ul {
  display: flex;
  justify-content: flex-start;

  padding: 0;
  margin: 0;

  list-style: none
}

.footer-user-nav-login {
  max-width: 200px;
  text-align: right;
}

.footer-user-nav-login a {
  display: block;
  position: relative;
  padding-left: 27px;
  text-align: right;
}

.footer-user-nav-login a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;

  width: 13px;
  height: 13px;

  background-image: url("../img/user-footer.svg");
  background-repeat: no-repeat;
}

.footer-user-nav-logout {
  width: 65px;
  text-align: right;
}

.footer-purchase-instruments {
  display: flex;

  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-compare-item {
  width: 135px;
  text-align: right;
}

.footer-compare-item a {
  display: block;
  position: relative;

  padding-right: 3px;
}

.footer-compare-item a::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 43px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare-footer.svg");
  background-repeat: no-repeat;
}

.footer-shopping-cart {
  width: 120px;
  text-align: right;
}

.footer-shopping-cart a {
  display: block;
  position: relative;
}

.footer-shopping-cart a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 38px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart-footer.svg");
  background-repeat: no-repeat;
}

.footer-user-nav a,
.footer-purchase-instruments a {
  display: block;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-nav-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-nav a:hover,
.footer-purchase-instruments a:hover {
  color: rgba(255, 255, 255, 1);
}
.footer-user-nav a:active,
.footer-purchase-instruments a:active {
  color: rgba(255, 255, 255, 0.3);
}

/*  Контакты в футере  */
.footer-mid-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 60px;
}

.small-contacts {
  width: 210px;
  padding: 0;
  margin: 0;
  margin-top: -4px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
}

.footer-navigation + .small-contacts {
  text-align: right;
}

.footer-site-navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  
  width: 444px;
  margin: 0;
  margin-left: 4px;
  padding: 0;

  list-style: none;
}

.footer-nav-item {
  margin-top: 3px;
  min-width: 140px;

  text-align: center;
}

.footer-nav-item a {
  display: block;
  min-width: 140px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;

  color: rgba(255, 255, 255, 1);
}

.footer-nav-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-nav-item a:active {
  color: rgba(255, 255, 255, 0.3);
}


/*  Социальные кнопки  */
.footer-bottom-layout {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-line {
  width: 80px;
  height: 7px;
  margin-top: 16px;

  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-around;
  
  width: 164px;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  margin-right: 50px;

  list-style: none;
}

.social-button {
  display: block;

  width: 40px;
  height: 40px;
  position: relative;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;
}

.social-button:hover {
  opacity: 0.6;
}
.social-button:active {
  opacity: 0.1;
}

.social-button.social-facebook {
  background-image: url("../img/fb.svg");
}

.social-button.social-instagram {
  background-image: url("../img/instagram.svg");
}

.social-button.social-twitter {
  background-image: url("../img/twitter.svg");
}

/*  Копирайт  */
.footer-copyright a {
  display: block;
  
  width: 30px;
  height: 30px;
  padding-top: 5px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-copyright a:hover {
  opacity: 0.6;
}
.footer-copyright a:active {
  opacity: 0.3;
}



/*=========================================================================
  Модальные окна
=========================================================================*/

/*  Карта  */
.modal {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;

  width: 960px;

  transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-map {
  height: 558px;
}

.modal-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 22px;

  width: 55px;
  height: 55px;

  font-size: 0;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;

  opacity: 0.5;
}

.modal-close:hover {
  opacity: 1;
}
.modal-close:active {
  opacity: 0.3;
}

/*  Написать нам  */
.modal-write-us {

}

.write-us-input-layout {
  display: flex;
  flex-wrap: wrap;

  width: 840px;
  margin: 90px 60px;
  margin-bottom: 114px;
}

.write-us-item {
  display: flex;
  flex-direction: column;

  width: 360px;
  margin-left: 40px;
  margin-bottom: 34px;
}

.write-us-item label {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.write-us-item input {
  width: 360px;
  box-sizing: border-box;
  padding: 15px 20px;
  
  outline: none;
  border: none;
}

.write-us-item input,
.write-us-item input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.write-us-item input:active,
.write-us-item input:active::placeholder,
.write-us-item input:focus,
.write-us-item input:focus::placeholder {
  color: rgba(70, 70, 70, 1);
}
.write-us-item input:focus {
  border: 2px solid #f7e296;
  padding: 13px 18px;
}

.write-us-item input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.write-us-item input:invalid {
  padding: 15px 20px;

  color: rgba(70, 70, 70, 0.4);

  background-color: #f6dada;
  border: none;
}

.write-us-button {
  width: 200px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 78px;

  background-image: linear-gradient(#fff 40%, #f0c52e 40%, #f0c52e 60%, #fff 60%);
  border: none;
  cursor: pointer;
}

.write-us-button:active {
  background-color: #f0c52e;
}



/*=========================================================================
  <main> catalog.html
=========================================================================*/

/*  Контейнер для основной части каталога  */
.main-container.catalog-container {
  width: 1100px;
  padding-left: 80px;
}

/*  Шапка каталога  */
.catalog-header {
  margin-bottom: 46px;
}

.catalog-logo {
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.009em;
  color: #000000;
  margin-top: 38px;
  margin-bottom: 24px;
}

/*  Хлебные крошки  */
.catalog-nav ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-nav-item {
  position: relative;

  padding-right: 40px;
}

.catalog-nav-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: 17px;
  top: 9px;

  width: 7px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.catalog-nav-item,
.catalog-nav-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-nav-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.catalog-nav-item a:active {
  color: rgba(0, 0, 0, 0);
}
.catalog-nav-item.current a:hover {
  color: rgba(0, 0, 0, 0.3);
}


/*  Верхний блок в каталоге товаров  */
.catalog-top-layout {
  background-image: linear-gradient(to right, #dbdbdb 30%, transparent 30%);
  min-height: 70px;
  margin-bottom: 47px;
}

.catalog-items-sort-nav {
  display: flex;
  justify-content: space-between;
}

.sort-list-direction-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 760px;
}

.sort-list-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 500px;
}

.sort-parameter-list {
  display: flex;
  justify-content: space-between;

  min-width: 288px;

  list-style: none;
}

.filter-label {
  width: 268px;
  padding: 23px 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;

  background-color: #dbdbdb;
}

.sort-label {
  padding: 23px 0;
  padding-right: 15px;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.sort-parameter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-parameter:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-parameter:active {
  color: rgba(0, 0, 0, 1);
}

.sort-parameter.current {
  color: rgba(0, 0, 0, 1);
}

.sort-parameter.current:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sort-parameter.current:active {
  color: rgba(0, 0, 0, 1);
}

.sort-direction-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40px;
  margin: 0;

  list-style: none;
}

.direction-control a {
  display: block;
  width: 10px;
  height: 10px;

  vertical-align: bottom;
}

.direction-control:first-child a {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.direction-control:last-child a {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.direction-control a:hover {
  opacity: 0.4;
}
.direction-control a:active {
  opacity: 1;
}

/*  Контейнер для нижней части каталога  */
.catalog-items {
  display: flex;
  justify-content: space-between;

  margin-bottom: 74px;
}

/*  Фильтр  */
.filters {
  width: 200px;
  margin-top: 19px;
}

.filter-cost {
  position: relative;

  min-height: 140px;
  padding: 0;
  margin: 0;

  border: none;
}

.filter-cost::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000;
}

.filter-cost::after {
  content: "";
  position: absolute;
  bottom: 64px;
  left: 0;

  width: 200px;
  height: 2px;

  background-image: linear-gradient(to right, #91c92f 60%, #dbdbdb 60%);
}

.cost-value {
  display: flex;
  justify-content: space-between;

  width: 143px;
  margin-top: 46px;
}

.cost-value p::before {
  content: "";
  position: absolute;
  z-index: 3;

  width: 20px;
  height: 20px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 3px 0 0 #dbdbdb;
  cursor: pointer;
}

.cost-value p:first-child::before {
  top: -21px;
  left: -6px;
}

.cost-value p:last-child::before {
  top: -21px;
  left: 19px;
}

.filter-cost p {
  position: relative;
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-legend {
  padding-top: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}


.filter-color {
  position: relative;

  min-height: 140px;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  border: none;
}

.filter-color::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000;
}


.filter-color-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-color-list {
  margin-top: 18px;
}

.filter-color-item {
  position: relative;
  padding-left: 38px;
}

.filter-color-item label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
}

.filter-color-item input + label::before,
.filter-bluetooth-options input + label::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 7px;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: 0 50%;
}

.filter-color-item input:focus + label::before,
.filter-bluetooth-options input:focus + label::before {
  outline: 2px solid rgb(59, 153, 252);
}

.filter-color-item input:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-color-item input:not(:checked) + label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-color-item input + label:hover::before,
.filter-bluetooth-options input + label:hover::before {
  opacity: 0.6;
}
.filter-color-item input + label:active::before,
.filter-bluetooth-options input + label:active::before {
  opacity: 1;
}

.filter-color-item input:disabled + label::before,
.filter-bluetooth-options input:disabled + label::before {
  opacity: 0.25;
}

.filter-color-item input:disabled + label,
.filter-bluetooth-options input:disabled + label {
  color: #a6a6a6;
}

.filter-bluetooth {
  position: relative;

  min-height: 140px;
  padding: 0;
  margin: 0;

  border: none;
}

.filter-bluetooth::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000;
}

.filter-bluetooth-options { 
  padding: 0;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 31px;
  list-style: none;
}

.filter-bluetooth-options li {
  position: relative;
  padding-left: 38px;
}

.filter-bluetooth-options label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  color: #000000;
  cursor: pointer;
}

.filter-bluetooth-options input:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-bluetooth-options input:not(:checked) + label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-button {
  width: 200px;

  background-image: linear-gradient(#fff 40%, #f0c52e 40%, #f0c52e 60%, #fff 60%);
  border: none;
  cursor: pointer;
}

.filter-button:active {
  background-color: #f0c52e;
}

/*  Контейнер для блока с товарами  */
.catalog-items-layout {
  width: 760px;
  margin-top: 22px;
}

/*  Карточки товаров  */
.catalog-item-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 28px;
}

.catalog-item.new::before {
  content: "new";
  position: absolute;
  right: 27px;
  top: 29px;

  width: 60px;
  height: 60px;
  padding: 18px 14px;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;

  border: 2px solid #000;
  border-radius: 50%;

  opacity: 0.2;
}

.catalog-item-img {
  margin-bottom: 7px;
  cursor: pointer;
}

.catalog-item:hover .catalog-item-img {
  opacity: 0.7;
}

.item-desc-price-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.item-desc-price-layout > a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}

.catalog-item-desc {
  width: 260px;

  letter-spacing: 0.009em;
  white-space: pre-line;
}

.catalog-item-price {
  padding-top: 3px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.catalog-item:hover .catalog-item-options {
  display: block;
}

.catalog-item-options {
  display: none;
  position: absolute;
  top: 170px;
  left: 70px;
}

.item-option-shopping-cart {
  margin-bottom: 15px;
}


.item-option-compare {
  display: block;

  width: 150px;
  margin-left: 35px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.item-option-compare:hover {
  color: rgba(0, 0, 0, 1);
}
.item-option-compare:active {
  color: rgba(0, 0, 0, 0);
}

/*  Пагинация и слайдер каталога  */
.catalog-item-slider-nav {
  display: flex;
  justify-content: space-between;

  margin-top: -12px;
}

.catalog-item-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  min-width: 85px;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.pagination-item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}


.catalog-item-slider-tab a {
  display: block;

  padding: 25px 30px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.catalog-item-slider-tab a:hover {
  background-color: #d9d9d9;
}
.catalog-item-slider-tab a:active {
  color: rgba(0, 0, 0, 0.3);
}